In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('data.csv')

In [5]:
df.head(70)

,Employee_ID,Name,Age,Gender,Department,Job_Title,Experience_Years,Education_Level,Location,Salary
0,1,Merle Ingram,24,Female,Engineering,Engineer,1,Master,Austin,90000
1,2,John Mayes,56,Male,Sales,Executive,33,Master,Seattle,195000
2,3,Carlos Wille,21,Male,Engineering,Intern,1,Bachelor,New York,35000
3,4,Michael Bryant,30,Male,Finance,Analyst,9,Bachelor,New York,75000
4,5,Paula Douglas,25,Female,HR,Analyst,2,Master,Seattle,70000
...,...,...,...,...,...,...,...,...,...,...
65,66,Terry Parks,30,Female,Finance,Analyst,9,Bachelor,Chicago,80000
66,67,Curtis Matney,31,Male,Product,Engineer,10,Bachelor,New York,95000
67,68,Raleigh Holmes,56,Male,HR,Executive,33,Master,New York,195000
68,69,James Saleado,35,Male,Engineering,Manager,12,Master,New York,125000
69,70,Brian Ferris,26,Male,Sales,Analyst,5,Bachelor,Seattle,75000

In [8]:
n=5
while n>0:
    print(n)
    n = n-1
print('Blastoff')
print(n)

5
4
3
2
1
Blastoff
0

In [11]:
n=0
while n>0:
    print('Lather')
    print('Risne')
print('idk')

idk

In [13]:
while True:
    line = input('Enter your pasword')
    if line == '@ashis' :
        break
    print(line)
print('Done!')

Enter your pasword subhs

subhs

Enter your pasword @ashis

Done!

In [15]:
while True:
    line = input('Enter your password')
    if line == 'subhs' :
        break
    print(line)
print('Welcome to the site')

Enter your password abcde

abcde

Enter your password subhs

Welcome to the site

In [19]:
#EXAMPLE OF CONTINUE STAEMENT
while True:
    line = input('>')
    if line[0] == '#' :
        continue
    if line == 'done':
        break
    print(line)
print('Done!')

> #
> hello there

hello there

> ashia

ashia

> done

Done!

In [20]:
#DEFINITE LOOP EXAMPLE
for i in [5,4,3,2,1]:
    print(i)
print('Blastoff')

5
4
3
2
1
Blastoff

In [23]:
#EXAMPLE OF DEFINITE LOOP WITH STRINGS)
friends=['shruti','sumaysha']
for friend in friends:
    print('All the best shru:',friend)
    print('Done')

All the best shru: shruti
Done
All the best shru: sumaysha
Done

In [ ]:
#LOOPING THROUH A SET
print('Before')

In [26]:
#FINDING THE LARGEST NNUMBER
largest_so_far = -1
print('Before',largest_so_far)
for the_num in [9,41,12,3,74,15]:
    if the_num > largest_so_far :
        largest_so_far = the_num
    print(largest_so_far,the_num)
print('After',largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [29]:
elements = 0
arr=[1,2,3,5]
for thing in arr:
    elements = elements+1
    print(elements,thing)
print('After', elements)

1 1
2 2
3 3
4 5
After 4

In [30]:
elements=0
print('Before',elements)
for thing in arr:
    elements = elements + thing
    print(elements,thing)
print('After',elements)

Before 0
1 1
3 2
6 3
11 5
After 11

In [12]:
food=input('food:')
eat = 'yes'if food == 'cake' else 'no'
print(eat)

food: cake

yes

In [1]:
food=input('food:')
print('Sweet') if food == 'cake' or food == 'jalebi' else print('NOt Sweet')

food: jalebi

Sweet

In [2]:
#STRINGS
##result for input() is always a str
a=input('Enter 1st num')
b=input('ENter 2nd num')
c=a+b
print(c)

Enter 1st num 23
ENter 2nd num 32

2332

In [6]:
#BUJHENA
name=input('Enter:')
Enter:chuck
print(name)
apple = input('Enter:')
ENter:100
x=apple-10
x=int(apple)-10
print(x)

Enter: hi

NameError: name 'chuck' is not defined

In [15]:
fruit='banana'
letter=fruit[1]
print(letter)
x=3
w=fruit[x-1]
print(w)
abc='mango'
print(abc[10])

a
n

IndexError: string index out of range

In [2]:
fruit='banana'
print(len(fruit))

6

In [6]:
#LOOPING THROUGH STRINGS
fruit='banana'
index=0
while index<len(fruit):
    letter=fruit[index]
    print(index,letter)
    index=index+1

0 b
1 a
2 n
3 a
4 n
5 a

In [19]:
#using loop
fruit='banana'
index=0
for letter in range (6):
    letter=fruit[index]
    print(index)
    index=index+1

0
1
2
3
4
5

In [27]:
fruit='banana'
index=0
for letter in fruit:
    if letter=='a':
      index=index+1
      print(index)

1
2
3

In [31]:
fruit='banana'
count=0
for letter in fruit:
    if(letter =='b'):
        count+=1
print(count)

1

In [34]:
#SLICING STRINGS
s='ashis adhika'
print(s[0:4])
print(s[6:7])

ashi
a

In [36]:
s='monty python'
print(s[:2])
print(s[8:])
print(s[:])

mo
thon
monty python

In [40]:
#USE OF in
fruit='banana'
'n' in fruit
if 'a' in fruit:
    print('found it yayy')

found it yayy

In [42]:
stuff='hello world'
type(stuff)
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
imp